<div class="container-list">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white list list-left skill">

             <i class="fa-solid fa-hard-drive"></i>

            <h3>Back-End</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary text-header">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary text-header">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID </li>
            </ul>
        </div>
        <div class="col col-3 bg-white list list-right skill">

            <i class="fa-solid fa-laptop-code"></i>

            <h3>Front-End</h3>
            <p>
                Puedo crar fornt-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary text-header">
                Stack:
            </p>
            <p>
                React, Angular y Blazor
            </p>
            <p class="text-primary text-header">
                Experiencia:
            </p>
            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>jQuery</li>
                <li>Pruebas automáticas</li>
                <li>Leaflet</li>
                <li>Markdown</li>
            </ul>
        </div>
    </div>
</div>