@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por contactarnos</h1>
<p>Responderemos el mensaje lo más pronto posible</p>
<div>
    <a asp-controller="Home" asp-action="Index">Volver al Home</a>
</div>
